@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// font-family: "Inter", sans-serif;

// color
$dark: #000;
$light: #fff;
$theme: #4CAF4F;
$sbg: #F5F7FA;
$footerbg: #28323C;
$para-text: #717171;
$sub-head: #4D4D4D;

